click==7.1.2
colorama==0.4.6
darkdetect==0.7.1
ffmpeg-python==0.2.0
ffpyplayer==4.5.0
future==0.18.2
numpy==1.24.3
opencv-python==4.7.0.72
packaging==23.0
Pillow==9.4.0
pynvml==11.5.0
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqt5-tools==5.15.4.3.2
pyqtdarktheme==2.1.0
pyqtgraph==0.13.3
PySide2==5.15.2.1
pystray==0.19.4
python-dotenv==0.21.0
pywin32==306
QDarkStyle==3.1
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
QtPy==2.3.0
shiboken2==5.15.2.1
six==1.16.0
tqdm==4.65.0
